.break_icons {
    background-color: colors.$shading;
    padding: 100px;
    width: 1425px;
    position: relative;
    top: -100px;
    color: white;
    font-family: fonts.$heading-font;
    font-size: 36px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    


}
 
@media screen and (min-width:1920px) {
    .break_icons {
        width: 1920px;
    }
}

@media screen and (max-width:786px) {
    .break_icons {
        background-color: colors.$shading;
        padding: 20px;
        width: 768px;
        position: relative;
        top: -150px;
        color: white;
        font-family: fonts.$heading-font;
        font-size: 18px;
        display: flex;
        justify-content: space-between;
        text-align: center;
    }
}

@media screen and (max-width:320px) {
    .break_icons {
        background-color: colors.$shading;
        padding: 10px;
        width: 320px;
        position: relative;
        top: -100px;
        color: white;
        font-family: fonts.$heading-font;
        font-size: 14px;
        display: flex;
        justify-content: space-between;
        text-align: center;
    }
}

.fa-search {
    color: colors.$buttons;
    margin-bottom: 10px;
    
}
.fa-check-circle {
    color: colors.$check;
    margin-bottom: 10px;
}
.fa-thumbs-up {
    color: colors.$thumb;
    margin-bottom: 10px;
}