// .bg_image {
//     z-index: -1;
// }

// @media screen and (max-width:1920px) {
//     img{
//         width: 1920px;
//         height: auto;
//         z-index: -1;
//     }
// }

// @media screen and (min-width:1024px) and (max-width:1919px){
//     img{
//         width: 1440px;
//         height: auto;
//         z-index: -1;
//     }
// }

// @media screen and (min-width:768px) and (max-width: 1000px) {
//     img{
//         width: 768px;
//         height: auto;
//         z-index: -1;
//     }
// }

.card_one {
    display: flex;
    // flex-wrap: wrap;
    justify-content: center;
    align-items: stretch; 
    margin-top: 100px;
    
}

.card_one_info {
    text-align: center;

    &_title {
        font-family: fonts.$main-font;
        color: colors.$text;
        font-size: 48px;
        font-weight: 700;
        letter-spacing: 4.8px;
    }

    &_tagline {
        font-family: fonts.$main-font;
        color: colors.$text;
        font-size: 22px;
        letter-spacing: 6.82px;
    }

    &_search-bar {
        width: 503px;
        border: 0px;
        padding: 15px;
        font-family: fonts.$main-font;
        color: colors.$search;
        letter-spacing: 2.8px;
        text-align: center;
        outline: none;
        
        
    }

    &_btn-search {
        font-family: fonts.$heading-font;
        color: white;
        border: 0px;
        padding: 15px;
        background-color: colors.$buttons;


    }
    &_search-bar:focus {
        background-color: azure;
    }
    &_btn-search:hover {
        background-color: colors.$buttons-click;
    }
}

